#right {
	width: 25%;
	height: 75%;
	float: right;
	right: 10px;
	bottom: 10px;
	position: fixed;
	overflow-y: auto;
	background-color: #001A9E;	
}

#right::-webkit-scrollbar {
    width: 5px;
}

#right:hover::-webkit-scrollbar {
    width: 10px;
}

#right::-webkit-scrollbar-thumb {
	background-color: #4B69FF;
	border-radius: 10px;
}

#right::-webkit-scrollbar-thumb:active {
	background-color:#032CFA;
	border:1px solid #333333;
}

.conversation {
	overflow: hidden;
	cursor: pointer;
	border: 0px solid #000D4D;
	border-bottom-width: 2px;
	margin: 3px;
	height: 60px;
	color: white;
}

.conversation > .name {
	font-size: 1.75em;
	padding-left: 5px; 
	text-align: left;
	height: 65%;
	width: 100%;
}

.conversation > .msg {
	width: 90%;
	display: inline-block;
	text-indent: 5px;
	overflow: hidden;
	color: #CDE5FF;
	height: 35%;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.message-box {
	width: 270px;
	height: 350px;
	position: fixed;
	bottom: 0px;
	right: 350px;
	z-index: 1;
	background-color: grey;
	border: 1px solid black;
	display: none;
}

.message-box > .message-header {
	background-color: #333333;
	height: 8%;
	padding: 3px 8px;
	color: white;
}

.message-box > .message-header > .cross {
	float: right;
	cursor: pointer;
	width: 20px;
	height: 100%;
	margin: 0px;
	justify-content: center;
	align-items:center;
	display: flex;
	padding-bottom: 5px;
	font-size: 1.3em;
	height: 100%;
}

.message-box > .message-header > .cross:hover {
	background-color: #111111;
}

.message-box > .message-body {
	background-color: white;
	width: 100%;
	height: 82%;
	overflow-y: auto; 
	padding: 0px 10px;
}

.message-body > .message {
	position: relative;
	width: 180px;
	float: left;
	margin: 15px 0px;
}

.message-body .message.right {
	float: right;
}

.message-body .message > p {
	border-radius: 5px;
	margin: 0px;
	width: 100%;
	padding: 5px;
	word-wrap: break-word;
	background-color: white;
}

.message-body .message .quote {
	position: absolute;
	bottom: 0px;
	content: "";
	width: 0px;
	height: 0px;
	border: 5px solid red;
	border-radius: 0px;
}


.message-body .message.right p {
	background-color: #A7FF6C;
}

.message-body .message.left p {
	background-color: #FFEEB2;
}

.message-body .message.right .quote {
	right: -7px;
	border-color: #A7FF6C  transparent transparent #A7FF6C;
	transform: rotateZ(-90deg);
}

.message-body .message.left .quote {
	left: -7px;
	border-color: #FFEEB2  transparent transparent #FFEEB2;
	transform: rotateZ(180deg);
}

.message-body .message label {
	position: absolute;
	color: #222;
	top: 100%;
	font-size: 0.8em;
}
.message-body::-webkit-scrollbar {
	width: 8px;
	background-color: transparent;
}

.message-body::-webkit-scrollbar-thumb {
	background-color: #7666FF;
	transition: background-color 1s linear;
}

.message-body::-webkit-scrollbar-thumb:active {
	background-color: #15069C;
}


.message-box > .message-input {
	width: 100%;
	height: 10%;
	display: flex;
	overflow: hidden;
	background-color: black;
}

.message-box > .message-input > textarea {
	display: inline-block;
	resize: none;
	height: 100%;
	overflow: hidden;
	width: 80%;
	outline: none;
	padding: 5px; 
}

.message-box > .message-input > button {
	display: inline-block;
	background-color: #3f51b5;
	color: white;
	border: none;
	width: 20%;
}
